<li>
	{{burger_name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{devoured}}">
		{{#if devoured}}Its so good, make it again!{{else}}Devour!{{/if}}
	</button>

	{{!-- <button class="delete-burg" data-id="{{this.id}}">That was a mistake!</button> --}}
</li>